@model Course_progect_TP.Models.User

@{
    ViewBag.Title = "DeleteUser";
}

<h2>Удалить пользователя</h2>

<h3>Вы уверены, что хотите удалить этого пользователя?</h3>
<div>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "GetAllUsers")
        </div>
    }
</div>
