@model Course_progect_TP.Models.Route

@{
    ViewBag.Title = "DeleteRoute";
}

<h2>Удалить маршрут</h2>

<h3>Вы уверены, что хотите удалить этот маршрут?</h3>
<div>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад", "GetAllRoutes")
        </div>
    }
</div>
