@model IEnumerable<Course_progect_TP.Models.Route>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("GetAllRoutes", "GetAllRoutes")
</p>
<p>
    @Html.ActionLink("GetAllTransports", "GetAllTransports")
</p>
<p>
    @Html.ActionLink("GetAllUsers", "GetAllUsers")
</p>

